<a href="https://colab.research.google.com/github/twsyas/machine_learning-course/blob/main/conceitopy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Fundamentos do Python

In [ ]:
nome = input ('Qual é o seu nome?')

Qual é o seu nome?yas

In [ ]:
print('Meu nome é:', nome)

Meu nome é: yas

In [ ]:
nome = input ('Qual é o seu nome?')
print ('Meu nome é:', nome)

Qual é o seu nome?yas
Meu nome é: yas

### pacotes, módulos e bibliotecas

In [ ]:
import math

In [ ]:
math.sqrt(12)

3.4641016151377544

In [ ]:
n = 18

In [ ]:
raiz = math.sqrt(n)
print('A raiz de {} é igual a {:.2f}'.format(n, raiz))

A raiz de 18 é igual a 4.24

In [ ]:
raiz2 = n ** 0.5
print (raiz2)

4.242640687119285

In [ ]:
print('{:.2f}'.format(raiz2))

4.24

In [ ]:
from math import sqrt, factorial

In [ ]:
fat = factorial(sqrt(16))
fat

24

### estrutura de condição e estrutura de repetiçao

In [ ]:
nota = 5.98

In [ ]:
if nota >= 6:
  print('Aprovado')
else:
    print('Reprovado')

Reprovado

In [ ]:
if nota >= 6:
  print('Aprovado')
elif nota >= 5 and nota < 6:
  print('Recuperação')
else:
    print('Reprovado')

Recuperação

In [ ]:
for c in range(0,4):
  print(c)

0
1
2
3

In [ ]:
lista = [1,2,3,4,10]
for numero in lista:
  print(numero * 2)

2
4
6
8
20

In [ ]:
soma = 0
cont = 0
for c in range(1,6):
  num = int(input('digite o {}o valor:'.format(c)))
  if num % 2 == 0:
    soma = soma + num
    cont = cont + 1
print('Você informou {} números pares e a soma deles é igual a {}'.format(cont, soma))

digite o 1o valor:5
digite o 2o valor:6
digite o 3o valor:10
digite o 4o valor:8
digite o 5o valor:14
Você informou 4 números pares e a soma deles é igual a 38

In [ ]:
c = 1
while c <= 10:
  s = c + 10
  print(s)
  c = c + 1
print('FIM')

11
12
13
14
15
16
17
18
19
20
FIM

### dicionário

In [ ]:
#criando dicionário
pessoas = {'nome': 'yas', 'sexo': 'fem', 'idade': 17}
print(pessoas)

{'nome': 'yas', 'sexo': 'fem', 'idade': 17}

In [ ]:
#adicionando uma nova variável ao dicionário
pessoas['time'] = 'vitoria'
print(pessoas)

{'nome': 'yas', 'sexo': 'fem', 'idade': 17, 'time': 'vitoria'}

In [ ]:
#deletando variável
del pessoas['idade']
print(pessoas)

{'nome': 'yas', 'sexo': 'fem', 'time': 'vitoria'}

### criação de funções

In [ ]:
def identificacao(nome,idade): #def = define o início da função; 'identificação' é o nome da função.
  print('Olá', nome,'\nVocê é jovem, tem apenas', idade, 'anos')

In [ ]:
identificacao('Yas', 17)

Olá Yas
Você é jovem, tem apenas 17 anos

In [ ]:
def maior(x,y):
  if x < y:
    print('O maior número é', y)
  elif x == y:
    print('Os números são iguais')
  else:
    print('O número maior é', x)

In [ ]:
maior(21,16)

O número maior é 21

In [ ]:
def pitagoras(cat1,cat2,hip):
  if hip == '?':
    hip = (cat1**2+cat2**2)**(1/2)
    print('A hipotenusa é', hip)
  elif cat1 == "?":
    cat1 = (hip**2-cat2**2)**(1/2)
    print('O cateto é', cat1)
  elif cat2 == "?":
    cat2 = (hip**2-cat1**2)**2
    print('O cateto é', cat1)

In [ ]:
pitagoras('?', 4, 5)

O cateto é 3.0

### função lambda e função map

In [ ]:
def area_quadrado(L):
  area = L**2
  print(area)

In [ ]:
area_quadrado(4)

16

In [ ]:
area_quadrado2 = lambda x: x**2  #mesma coisa que o def area_quadrado

In [ ]:
area_quadrado2(7)

49

In [ ]:
area_retangulo = lambda b, h: h*b

In [ ]:
area_retangulo(4,7)

28

In [ ]:
L = [4,5,6,7,11,9,10]
areas = list(map(lambda x:x**2, L)) #map junta/une uma função 
print(areas)

[16, 25, 36, 49, 121, 81, 100]

### List Comprehensions

Otimiza a utilizzação de listas e diminue linhas de código

In [ ]:
lista = []
for valor in range(5):
  lista.append(valor+10)
print(lista)

[10, 11, 12, 13, 14]

In [ ]:
lista = [valor+10 for valor in range(5)]
print(lista)

[10, 11, 12, 13, 14]

In [ ]:
lista = []
for numero in range(1,30):
  if numero % 4 == 0:
    lista.append(numero)
print(lista)

[4, 8, 12, 16, 20, 24, 28]

In [ ]:
mult4 =[ numero for numero in range(1,30) if numero % 4 == 0]
print(mult4)

[4, 8, 12, 16, 20, 24, 28]

In [ ]:
conceito = ['azul' if nota >= 6 else 'vermelha' for nota in range(1,11)]
print(conceito)

['vermelha', 'vermelha', 'vermelha', 'vermelha', 'vermelha', 'azul', 'azul', 'azul', 'azul', 'azul']

### vetores e matrizes

In [ ]:
vetor = [2,4,5,6]

In [ ]:
type(vetor)

list

In [ ]:
matriz = [[1,2,3],
          [4,5,6],
          [6,8,9]]

In [ ]:
type(matriz)

list

In [ ]:
print(matriz)

[[1, 2, 3], [4, 5, 6], [6, 8, 9]]

In [ ]:
import numpy as np

In [ ]:
vetor2 = np.array([1,-2,4.2,5])

In [ ]:
type(vetor2)

numpy.ndarray

In [ ]:
print(vetor2)

[ 1.  -2.   4.2  5. ]

In [ ]:
matriz2 = np.ones((2,3)) #o 2 indica o n° de linhas e o 3 o n° de colunas
matriz2

array([[1., 1., 1.],
       [1., 1., 1.]])

In [ ]:
type(matriz2)

numpy.ndarray

In [ ]:
matriz3 = np.diag((2,4,6,8,10)) #matriz diagonal; 'np' = objeto, 'diag()' = metódo, 'diag' = atributo
matriz3

array([[ 2,  0,  0,  0,  0],
       [ 0,  4,  0,  0,  0],
       [ 0,  0,  6,  0,  0],
       [ 0,  0,  0,  8,  0],
       [ 0,  0,  0,  0, 10]])

In [ ]:
type(matriz3)

numpy.ndarray