<a href="https://colab.research.google.com/github/twsyas/machine_learning-course/blob/main/seipy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Curso de Introdução ao Python para Análise de Dados
## Superintendência de Estudos Econômicos e Sociais da Bahia
Professor: Jonatas

In [ ]:
lista = ['manga', 'laranja', 'limão']
lista

['manga', 'laranja', 'limão']

In [ ]:
type(lista)

list

In [ ]:
lista[0]

'manga'

In [ ]:
lista.append('morango')

In [ ]:
lista

['manga', 'laranja', 'limão', 'morango']

In [ ]:
massas = ('lasanha', 'macarrao')

In [ ]:
type(massas)

tuple

In [ ]:
#massas.append('fetuccine')

In [ ]:
#importando os pacotes que será utilizado no curso
import pandas as pd  #biblioteca que serve para manipular o conjunto de dados

In [ ]:
# criando um objeto do tipo series do pandas

cod_municipios = pd.Series(data = [2927408,2905701,2919207])

In [ ]:
type(cod_municipios)

pandas.core.series.Series

In [ ]:
cod_municipios

0    2927408
1    2905701
2    2919207
dtype: int64

In [ ]:
serie2 = pd.Series(data = ['Salvador', 'Camaçari', 'Lauro de Freitas'], index = [2927408,2905701,2919207])

In [ ]:
serie3 = pd.Series(data = [2610987,334195,220437], index = [2927408,2905701,2919207])
serie3

2927408    2610987
2905701     334195
2919207     220437
dtype: int64

In [ ]:
df1 = serie2.to_frame().rename(columns = {0:'Munícipio'})
df1

                Munícipio
2927408          Salvador
2905701          Camaçari
2919207  Lauro de Freitas

In [ ]:
df2 = serie3.to_frame().rename(columns = {0:"População"})

In [ ]:
estimativa_pop_2022 = pd.merge (df1, df2, left_index= True, right_index= True)

In [ ]:
estimativa_pop_2022.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 2927408 to 2919207
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Munícipio  3 non-null      object
 1   População  3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 180.0+ bytes

________________________________________________________________________________________________________________________________________________________________